        body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1,
        p {
            text-align: center;
        }

        form {
            width: 50%;
            margin: 0 auto;
        }

        .board {
            border-collapse: collapse;
            margin: 0 auto;

        }

        .box {
            width: 70px;
            height: 70px;
            border: 1px solid #0d2647;
            background-color: #163E73;
            cursor: pointer;
            transition: background-color 0.1s ease;
        }

        .on {
            background-color: #F2C53D;
            transition: background-color 0.1s ease;
            /* box-shadow: 0 0 20px #F2C53D; */

        }

        .box.on:hover {
            outline: 2px solid #0f2d54;
        }

        .box:hover {
            outline: 2px solid rgb(255, 200, 59);
        }

        #message {
            text-align: center;
            font-size: 1.5em;
            color: #163E73;
            font-weight: bold;
        }

        .btn-primary {
            background-color: #F2C53D !important;
            border-color: #F2C53D !important;
            color: #163E73 !important;
        }

        .btn-primary:hover {
            background-color: #163E73 !important;
            border-color: #163E73 !important;
            color: #F2C53D !important;
        }

        .btn-primary:focus {
            box-shadow: 0 0 0 0.2rem rgba(22, 62, 115, 0.5) !important;
        }

        #size:focus {
            box-shadow: 0 0 0 0.2rem rgba(22, 62, 115, 0.5) !important;
        }

        .btn-primary:not(:disabled):not(.disabled):active,
        .btn-primary:not(:disabled):not(.disabled).active {
            background-color: #F2C53D !important;
            border-color: #F2C53D !important;
        }